* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

header {
  background-color: #E5F3F2;
  height: 30%
}

h1 {
  color: #00A79D;
  font-family: 'Roboto Slab', serif;
  font-size: 5em;
  font-weight: 700;
  padding: .6em;
  text-align: center;
}

h3 {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 1.4em;
  left: 3em;
  pointer-events: none;
  position: relative;
  text-align: left;
  width: 15em;
}

main {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

span {
  color: #6D6E71;
}

input, textarea {
  border: .1em solid #BFC0C2;
}

p {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  padding: .5em 0 1em 0;
}

p:focus {
  outline: none;
}

.form-elements {
  color: #BFC0C2;
  display: block;
  font-size: 2em;
  height: 2em;
  margin: auto;
  margin-bottom: 1.2em;
  padding: .2em 0 .2em .4em;
  width: 55%;
}

.form-elements::placeholder {
  color: #BFC0C2;
}

.form-elements:focus {
  outline: none;
}

.save-button {
  background-color: #00A79D;
  border: #00A79D;
  color: #FFFFFF;
  margin-bottom: 1.4em;
  padding: .4em;
  text-align: center;
}

.save-button:disabled {
  background-color: #D3D3D3;  
  pointer-events: none;
}

.save-button:hover {
  background-color: #045E55;
}

.search-input {
  margin: 1.4em auto;
}

.populated-ideas-container {
  margin: auto;
  width: 55%;
}

.populated-ideas {
  border-bottom: .1em solid #D1D3D4;
  padding: 1em 0;
}

.icons {
  border: none;
  height: 30px;
  width: 30px;
}

.idea-title {
  color: #6D6E71;
  display: inline;
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  margin-bottom: 1.4em;
}

.idea-title:focus {
  outline: none;
}

.delete-button {
  background-image: url(delete.svg);
  border: none;
  border-radius: 50%;
  float: right;
  margin: .25em;
}

.delete-button:focus {
  outline: none;
}

.delete-button:hover {
  background-image: url(delete-hover.svg);
}

.quality-flex {
  align-items: center;
  display: flex;
}

.downvote-icon {
  background-image: url(downvote.svg);
  border-radius: 50%;
  margin: 0 .5em;
}

.downvote-icon:hover {
  background-image: url(downvote-hover.svg);
}

.downvote-icon:focus {
  outline: none;
}

.upvote-icon {
  background-image: url(upvote.svg);
  border-radius: 50%;
  margin: 0 .5em;
}

.upvote-icon:hover {
  background-image: url(upvote-hover.svg);
}

.upvote-icon:focus {
  outline: none;
}

.quality {
  color: #6D6E71;
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
}

@media screen and (max-width: 800px) {
  
  h1 {
    font-size: 3em;
    padding: .2em;
  }
  
  .form-elements {
    width: 90%;
  }

  .body-input { 
    height: 4em;
  }

  .populated-ideas-container {
    width: 90%;
  }

  .form-elements {
    margin-bottom: .5em;
  }

  .search-input {
    margin: .5em auto; 
  }

}
