* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

header {
  background-color: #E5F3F2;
  height: 30%
}

h1 {
  color: #00A79D;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-align: center;
  padding: .5em;
  font-size: 2.3em;
}

main {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  /*height: 70%;*/
}

span {
  color: #6D6E71;
}

input {
  border: .1em solid #BFC0C2;
}

.form-elements {
  display: block;
  width: 55%;
  padding: .2em 0 .2em .4em;
  font-size: 1em;
  margin: auto;
  margin-bottom: .6em;
  color: #BFC0C2;
}

.form-elements::placeholder {
  color: #BFC0C2;
}

.form-elements:focus {
  outline: none;
}

.save-button {
  background-color: #00A79D;
  color: #FFFFFF;
  text-align: center;
  border: #00A79D;
  padding: .4em;
  margin-bottom: 1.4em;
}

.save-button:disabled {
  background-color: #D3D3D3;  
}

.save-button:hover {
  background-color: #045E55;
}

.search-input {
  margin: 1.4em auto;
}

.populated-ideas-container {
  width: 55%;
  margin: auto;
}

.populated-ideas {
  border-bottom: .1em solid #D1D3D4;
  padding: 1em 0;
}

.icons {
  height: 1.5em;
  width: 1.5em;
}

.idea-title {
  display: inline;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 1.4em;
  color: #6D6E71;
  font-size: 1.5em;
  }

p {
  font-family: 'Open Sans', sans-serif;
  padding: .5em 0 1em 0;
  color: #939598;
}

.delete-button {
  height: 1.5em;
  width: 1.5em;
  background-image: url(delete.svg);
  float: right;
  margin: .25em;
  border: none;
}

.delete-button:focus {
  outline: none;
}

.delete-button:hover {
  background-image: url(delete-hover.svg);
}

.quality-flex {
  display: flex;
  align-items: center;
}

h3 {
  font-family: 'Roboto Slab', serif;
  color: #6D6E71;
  font-size: .8em;
  margin-left: 3em;
  width: 15em;
  text-align: left;
}

.downvote-icon {
  margin: 0 .5em;
  background-image: url(downvote.svg);
}

.downvote-icon:hover {
  background-image: url(downvote-hover.svg);
}

.downvote-icon:focus {
  outline: none;
}

.upvote-icon {
  margin: 0 .5em;
  background-image: url(upvote.svg);
}

.upvote-icon:hover {
  background-image: url(upvote-hover.svg);
}

.upvote-icon:focus {
  outline: none;
}

.quality {
  font-family: 'Open Sans', sans-serif;
  color: #6D6E71;
  font-size: .9em;
}
